<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cribin</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/form.css" rel="stylesheet">
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    
    <!--  LINK WITH ANGULAR JS -->
    <script type ="text/javascript" src="../js/angular.min.js"></script>
    <script type  ="text/javascript" src="../js/createAccount1.js"></script>




    <!-- Custom styles for this template -->
    <link href="../css/home.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="home.html">Cribin</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>    
    </div>
<!-- NAVBAR
================================================== -->
    <div ng-app="sample">
    <br>
    <br>
    <br>
    
      <div class="container">
        <div class="row">
            <form class="col-md-8 col-md-offset-2" name="registerForm">
                <legend>Account Details</legend>
                <center>
                    <legend >My profile</legend>
                </center>
                    <div class="form-group col-md-12" ng-class="{'has-error': registerForm.$dirty && registerForm.AboutMe.$invalid, 'has-success': registerForm.AboutMe.$valid}">
                        <label for="">About me</label> <br>
                        <textarea class ="form-control" placeholder="Describe yourself in few words" ng-model="myTextarea" required></textarea>
                           
                    </div>

                    <div class="form-group col-md-12" ng-class="{'has-error': registerForm.$dirty && registerForm.Status.$invalid, 'has-success': registerForm.Status.$valid}">
                        <label for="Stauts">My status</label>

                            <div class="col-md-12">
                                <label class="radio" for="bachelor">
                                    <input type="radio" name="status" ng-model=status id="bachelor" value="bachelor" required> Student (Bachelor)
                                </label>
                                <label class="radio" for="master">
                                    <input type="radio" name="status" ng-model=status id="master" value="master" required> Student (Master)
                                </label>
                                <label class="radio" for="internship">
                                    <input type="radio" name="status" ng-model=status id="internship" value="internship" required> Student (Internship)
                                </label>
                                <label class="radio" for="postinternship">
                                    <input type="radio" name="status" ng-model=status id="postinternship" value="postinternship" required> Post Graduation Internship
                                </label>
                            </div>
                    </div>

                    <div class="form-group col-md-12" ng-class="{'has-error': registerForm.$dirty && registerForm.Personnality.$invalid, 'has-success': registerForm.Personnality.$valid}">
                        <label for="Personnality">My status</label>

                            <div class="col-md-12">
                                <label class="radio" for="shy">
                                    <input type="radio" name="personnality" ng-model=personnality id="shy" value="shy" required> A little shy at the beginning
                                </label>
                                <label class="radio" for="master">
                                    <input type="radio" name="personnality" ng-model=personnality id="neutral" value="neutral" required> Neutral
                                </label>
                                <label class="radio" for="friendly">
                                    <input type="radio" name="personnality" ng-model=personnality id="friendly" value="friendly" required> Very friendly
                                </label>

                            </div>
                    </div>

                    <div class="form-group col-md-12" ng-class="{'has-error': registerForm.$dirty && registerForm.Hobbies.$invalid, 'has-success': registerForm.Hobbies.$valid}">
                        <label for="Hobbies">My status</label>

                            <div class="col-md-12">
                                <label class="checkbox" for="shy">
                                    <input type="checkbox" name="hobbies" ng-model=hobbies.reading id="reading" value="reading"> Reading
                                </label>
                                <label class="checkbox" for="master">
                                    <input type="checkbox" name="hobbies" ng-model=hobbies.opera id="opera" value="opera"> Opera
                                </label>
                                <label class="checkbox" for="friendly">
                                    <input type="checkbox" name="hobbies" ng-model=hobbies.internationalpolitics id="internationalpoliticics" value="internationalpoliticics"> International Politics
                                </label>
                                <label class="checkbox" for="friendly">
                                    <input type="checkbox" name="hobbies" ng-model=hobbies.hiking id="hiking" value="hiking"> Hiking
                                </label>
                                <label class="checkbox" for="friendly">
                                    <input type="checkbox" name="hobbies" ng-model=hobbies.swimming id="swimming" value="friendly"> Swimming
                                </label>


                            </div>
                    </div>
                
                   
                    <center>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input onClick="window.location.href='createAccount3.html'" class="btn btn-default" value="Next" role="button"  ng-disabled="registerForm.$invalid" />
                                <br>
                            </div>
                        </div>
                    </center>
                </div>
                
       
            </form>
        </div>
    </div>



    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
